.custom-toolbar {
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
  }
  
  .custom-toolbar ion-title {
    color: white;
    font-size: 1.2rem;
  }
  
  .custom-content {
    padding: 1rem;
  }
  
  .custom-form {
    max-width: 500px;
    margin: auto;
  }
  
  .custom-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 1rem;
  }
  
  .submit-button {
    color: white;
    border-radius: 4px;
    margin:10px
  }

  