<form
  *ngIf="form"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  (keyup.enter)="onSubmit()"
>
  <ion-item>
    <ion-input class="custom-label-color"
      labelPlacement="stacked"
      label="{{ 'login.username' | translate }}"
      formControlName="username"
      type="text"
      color="secondary"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input class="custom-label-color"
      labelPlacement="stacked"
      label="{{ 'login.password' | translate }}"
      formControlName="password"
      type="password"
      color="secondary"
    ></ion-input>
  </ion-item>
  <div class="ion-padding-top">
    <ion-button
      expand="full"
      style="text-transform: none"
      [disabled]="!form.valid"
      (click)="onSubmit()"
      >{{'login.login' | translate}}</ion-button
    >
  </div>
</form>
