ion-item {
  font-size: 1rem;
  color: var(--ion-color-primary);
  margin-bottom: 10px;
}

.ion-padding-top {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.custom-label-color {
  color: var(--ion-color-secondary); 
}
