.anime-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem; 
}

.container {
    position: relative;
    width: 100%;
  }
  
  #floating-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
  }