<ion-content [fullscreen]="true" class="content-container">
  <h2 class="page-title">{{'navbar.about' | translate}}</h2>
  <p class="page-description">{{'about.aboutTitle' | translate}}</p>
  <ion-card class="card-style">
    <img src="https://avatars.githubusercontent.com/u/115071141?v=4" alt="Foto de GitHub" class="card-image"/>
    <ion-card-header class="card-header">
      <ion-card-title class="card-title">Jesús Herrera Sánchez</ion-card-title>
    </ion-card-header>
    <ion-card-content class="card-content">
      {{'about.moreInfo' | translate}}
      <p>
        <a href="https://github.com/Jesushs4" target="_blank">{{'about.github' | translate}}</a>
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>