<ion-content [fullscreen]="true">
  <div class="login-page" [ngStyle]="{'background-image': backgroundImage}">
    <ion-card>
      <ion-card-header>
        <ion-text class="page-title">Aniverse</ion-text>
      </ion-card-header>
      <ion-thumbnail>
        <img src="assets/images/logo.png" alt="Aniverse" />
      </ion-thumbnail>
        <ion-button *ngIf="lang === 'es'" (click)="onLang('en')">
          <ion-icon slot="icon-only" name="language-outline"></ion-icon>
        </ion-button>
        <ion-button *ngIf="lang === 'en'" (click)="onLang('es')">
          <ion-icon slot="icon-only" name="language-outline"></ion-icon>
        </ion-button>
      <ion-button
        fill="clear"
        color="secondary"
        style="text-transform: none"
        (click)="onRegister()"
      >
        {{'login.noAccount' | translate}}
      </ion-button>
      <app-login-form (onsubmit)="onLogin($event)"></app-login-form>
    </ion-card>
  </div>
</ion-content>
